<template>
  <div v-if="content">{{content}}</div>
</template>

<script>
export default {
  name: 'BackendModules',
  data() {
    return {
      content: '',
    };
  },
  created() {
    this.postRequest(this.ctx.modules['development-tools'].config.verifyBackendModulesUrl, {
      modules: this.ctx.backendModules.join(','),
    })
      .then((r) => {
        if (r && r.msg === 'OK') {
          this.content =
            typeof this.ctx.modules['development-tools'].config.okText === 'undefined'
              ? 'Backend modules OK'
              : this.ctx.modules['development-tools'].config.okText;
        } else {
          this.content = `${
            typeof this.ctx.modules['development-tools'].config.failText === 'undefined'
              ? 'Backend modules are missing!'
              : this.ctx.modules['development-tools'].config.failText
          }${r || ''}`;
        }
      })
      .catch((ex) => {
        this.content = `${(ex.response && ex.response.data && ex.response.data.msg) ||
          'Failed to verify backend modules!'}`;
      });
  },
};
</script>
