<template>
  <div class="q-pa-md">
    <q-table
      :title="`${Options.title || 'Total'}: ${data && data.total ? data.total : 0}`"
      :data="data && data.total ? data.docs : []"
      :columns="columns"
      :pagination.sync="pagination"
      row-key="id"
      selection="multiple"
      :selected.sync="selected"
      @row-dblclick="rowDoubleClicked"
      @request="onRequest"
    >
      <template v-slot:body-cell="props">
        <q-td :props="props">
          <div class="ellipsis" style="max-width: 150px;">
            {{props.value}}
            <q-tooltip>{{props.value}}</q-tooltip>
          </div>
        </q-td>
      </template>
    </q-table>

    <div class="q-pa-md q-gutter-sm">
      <q-btn color="primary" label="Add" @click="addClicked" />
      <q-btn color="secondary" label="Edit" @click="editClicked" :disabled="!selected[0]" />
      <q-btn color="amber" glossy label="Delete" @click="deleteClicked" :disabled="!selected[0]" />
    </div>

    <q-dialog v-model="adding">
      <q-card style="width: 480px" class="q-px-sm q-pb-md">
        <q-card-section>
          <div class="text-h6">JSON String</div>
        </q-card-section>

        <q-card-section class="q-pt-none">
          <q-input dense v-model="newObject" autofocus type="textarea" />
        </q-card-section>

        <q-card-actions align="right" class="text-primary">
          <q-btn icon="save" v-close-popup @click="saveClicked">Save</q-btn>
          <q-btn icon="cancel" v-close-popup>Cancel</q-btn>
        </q-card-actions>
      </q-card>
    </q-dialog>

    <q-dialog v-model="editing">
      <q-card style="width: 480px" class="q-px-sm q-pb-md">
        <q-card-section>
          <div class="text-h6">JSON String</div>
        </q-card-section>

        <q-card-section class="q-pt-none">
          <q-input dense v-model="editingString" autofocus type="textarea" />
        </q-card-section>

        <q-card-actions align="right" class="text-primary">
          <q-btn icon="save" v-close-popup @click="editSaveClicked">Save</q-btn>
          <q-btn icon="cancel" v-close-popup>Cancel</q-btn>
        </q-card-actions>
      </q-card>
    </q-dialog>

    <input type="text" v-model="icon" />
    <q-icon :name="icon" class="q-ma-lg text-h1"></q-icon>
  </div>
</template>

<script>
import mixins from 'eis-admin-mixins';

export default {
  name: 'DevList',
  mixins: [mixins.ObjectDataMixin],
  props: {
    Options: { type: Object, default: () => ({}) },
    Del: { type: Function, default: () => {} },
    Add: { type: Function, default: () => {} },
    Edit: { type: Function, default: () => {} },
  },
  data() {
    return {
      icon: '',
      selected: [],
      adding: false,
      editing: false,
      newObject: '',
      editingString: '',
      clickedObject: {},
      pagination: {
        rowsPerPage: this.data && this.data.limit ? this.data.limit : 10,
        rowsNumber: this.data && this.data.total ? this.data.total : 0,
      },
      url: '',
      queryString: '',
    };
  },
  watch: {
    $route() {
      this.selected = [];
      this.adding = false;
      this.editing = false;
      this.newObject = '';
      this.editingString = '';
      this.clickedObject = {};
      this.refreshData();
    },
  },
  computed: {
    columns() {
      if (this.data && this.data.total) {
        const fullObj = {};
        for (let i = 0; i < this.data.docs.length; i += 1) {
          Object.merge(fullObj, this.data.docs[i]);
        }

        const columnList = [];
        Object.keys(fullObj).forEach((k) => {
          columnList.push({
            name: k,
            label: k,
            align: 'left',
            field: (row) => row[k],
            format: (val) => JSON.stringify(val),
          });
        });

        return columnList;
      }
      return [];
    },
  },
  methods: {
    afterRefresh(u, s) {
      if (this.data && this.data.total) {
        this.pagination.rowsPerPage = this.data.limit;
        this.pagination.rowsNumber = this.data.total;
      }
      this.url = u;
      this.queryString = (s || '').replace(/(&|\?)page=[0-9]*/g, '');
    },
    addClicked() {
      this.adding = true;
    },
    editClicked() {
      this.selected = this.selected[0] ? [this.selected[0]] : [];

      if (!this.selected.length) return;

      this.editingString = JSON.stringify(this.selected[0]);
      this.editing = true;
    },
    saveClicked() {
      if (this.newObject) {
        try {
          const { url } = this.Options;
          const parentName = this.Options.parent || 'Parent';
          const obj = JSON.parse(this.newObject);
          const pid = obj[parentName];
          const addResult = this.Add(obj);
          if (addResult) {
            addResult.then(() => {
              this.refreshData(url, pid ? `?${parentName}=${pid}` : '');
            });
          }
        } catch (ex) {
          // console.log(ex);
        }
      }
    },
    editSaveClicked() {
      try {
        const { url } = this.Options;
        const parentName = this.Options.parent || 'Parent';
        const obj = JSON.parse(this.editingString.replace(/\$/g, '__DOLLAR__'));
        const pid = obj[parentName];
        const addResult = this.Edit(obj);
        if (addResult) {
          addResult.then(() => {
            this.refreshData(url, pid ? `?${parentName}=${pid}` : '');
          });
        }
      } catch (ex) {
        // console.log(ex);
      }
    },
    deleteClicked() {
      for (let i = 0; i < this.selected.length; i += 1) {
        this.Del(this.selected[i].id).then(() => {
          this.refreshData();
        });
      }
    },
    rowDoubleClicked(e, r) {
      const url = (this.Options.children && this.Options.children.url)
        || this.Options.url
        || '';
      const parentName = (this.Options.children && this.Options.children.parent)
        || this.Options.parent
        || 'Parent';

      if (!url) return;

      const newOptions = Object.assign(this.Options, this.Options.children);
      this.Options = newOptions;
      this.url = url;
      this.queryString = r && r.id ? `?${parentName}=${r.id}` : '';

      this.refreshData(url, this.queryString);
    },
    onRequest(props) {
      this.refreshData(
        this.url,
        `${this.queryString || ''}${this.queryString ? '&' : '?'}page=${
          props.pagination.page
        }`,
      ).then(() => {
        this.pagination.page = props.pagination.page;
        this.pagination.rowsPerPage = props.pagination.rowsPerPage;
      });
    },
  },
};
</script>
