<template>
  <q-btn
    flat
    icon="power"
    @click="$axios.post(getModule('development-tools').config.backendRestartUrl)"
  ></q-btn>
</template>

<script>
export default {
  name: 'RestartServer',
};
</script>
